doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title RingCentral for Google Forms Add-In
    link(href='//developer.ringcentral.com/assets/images/favicon.ico?v=20181214-0738', type='image/vnd.microsoft.icon', rel='shortcut icon')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
  body
    .container.mt-5
      .row
        .col-4.px-5
          h1.fs-4
            a.text-decoration-none(href="https://www.ringcentral.com/apps/google-forms-add-in-for-ringcentral") RingCentral for Google Forms Add-In
          p.mt-4.fw-light
            | Project is from RingCentral Labs
          h4.fs-5.mt-4 Links
          a.text-decoration-none(href="https://github.com/ringcentral/google-forms-notification-add-in/issues") Feedback
          br
          a.text-decoration-none(href="https://www.ringcentral.com/legal/last-update-january-18-2022/privacy-notice.html") Privacy Policy
          br
          a.text-decoration-none(href="https://github.com/ringcentral/google-forms-notification-add-in") Source Code

        .col-7.px-5
            h2.fs-5 RingCentral for Google Forms Add-In
            p.mt-4.fw-light
              a.text-decoration-none(href="https://www.ringcentral.com/apps/google-forms-add-in-for-ringcentral") RingCentral for Google Forms Add-In &nbsp;
              | is an add-in app for &nbsp;
              a.text-decoration-none(href="https://www.ringcentral.com/apps/rc-app") RingCentral App
              | . It helps RingCentral users to connect Google Forms into RingCentral Team Messaging.
            iframe(width="560" height="315" src="https://www.youtube.com/embed/qySMiGNxlZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            h4.fs-5.mt-4 Features
            ul.mt-3.fw-light
              li Connect Google Form files into a RingCentral Team conversation
              li Receive new response notifications at RingCentral Team Messaging
            h4.fs-5.mt-4 Google User Data Usage
            p.mt-3.fw-light
              | The add-in need "Google Forms Body Readonly" permission to access the form's title and questions.
            p.mt-1.fw-light
              | And "Google Forms Responses Readonly" permission is required to access the form's responses.
            p.mt-1.fw-light
              | The add-in show the response data in RingCentral Team Messaging team that user selected with question tile and response text.
            h4.fs-5.mt-4 Installation 
            p.mt-3.fw-light
              | Install with this &nbsp
              a.text-decoration-none(href="https://www.ringcentral.com/apps/google-forms-add-in-for-ringcentral") link &nbsp;
              | Directly. Or from RingCentral app:
            ul.mt-3.fw-light.list-group-numbered
              Li.py-1 Login Into RingCentral desktop or web app.
              li.py-1 Click on "Apps" tab.
              li.py-1 Search "Google Forms"
              li.py-1 Click on "Add" button.
              li.py-1 Select a team to add this add-in
              li.py-1 Login with Google account at setup page.
              li.py-1 In "Set Forms" step, input the form URL and click "Save" button.
              li.py-1 Click "Finish" button to complete the setup.

      footer.my-5.border-top.py-3
        p.fw-light.text-muted
          | Developed by &nbsp;
          a.text-decoration-none(href="https://developers.ringcentral.com/guide/labs") RingCentral Labs
